@import 'colors';
@import 'media-queries';

.background{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left,rgba($blue,1),rgba($blue,0.7),rgba($blue,0.8),rgba($blue,0.9),rgba($blue,0.98),rgba($blue,1)), url('./pozadina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 10%;
    @include tablet{
        background: linear-gradient(to left,rgba($blue,1),rgba($blue,.6),rgba($blue,.9)), url('./pozadina.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    text-align: center;
    align-items: center;
    position: relative;
    @include tablet{
        justify-content: space-around;
    }
}
.nav-logo img{
    width: 100px;
    transform: translate(0,30px);
    @include tablet{
        width: 50px;
        transform: translate(0,00px);
    }
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style: none;
    text-align: center;
    align-items: center;
    @include tablet{
        position: absolute;
        width: 100vw;
        height: 92vh;
        flex-direction: column;
        top: 8vh;
        right: 0px;
        background-color: $blue;
        transform: translateX(100%);
        transition: transform .3s ease;
        z-index: 100;
    }
    & li{
        margin: 0 40px;
        @include tablet{
            margin-bottom: 20px;
        }
        & a{
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: $white;
            position: relative;
            text-align: center;
            @include tablet{
                font-size: 1.2rem;
            }
        }
        &::before{
            position: absolute;
            content: '';
            top: 40px;
            background-color: $yellow;
            height: 2px;
            width: 60px;
            transform: scale(0,1);
            transition: 300ms transform ease-in;
            @include tablet{
                display: none;
            }
        }
        &:hover::before{
            transform: scale(1,1);
        }
    }
}
.active{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $yellow;
        top: 1.2rem;
        @include tablet{
            top: 1.5rem;
        }

    }
}
.first-logo{
    display: none;
    & img{
        @include tablet{
            width: 100px;
            transform: translateY(5px);
        }
        @include phone{
            width: 100px;
            transform: translateY(5px);
        }
    }
    @include tablet{
        display: flex;
    }
}
.second-logo{
    @include tablet{
        display: none;
    }
}
.header-container{
    width: 90vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin: auto;
    @include laptop{
padding-top: 10%;
    }
    @include mini{
        padding-top: 15%;
    }
    @include tablet{
        padding-top: 5%;
    }
    @include phone{
        padding-top: 25%;
    }
    @include fold{
        padding-top: 35%;
    }
    & h2{
        font-size: 3rem;
        text-transform: uppercase;
        color: $white;
        @include laptop{
            font-size: 2rem;
        }
        @include mini{
            font-size: 2rem;
        }
        @include phone{
            text-align: center;
            width: 100%;
            font-size: 1.6rem;
        }
        @include phone{
            font-size: 1.2rem;
            text-align: center;
        }

    }
    & h1{
        text-transform: uppercase;
        color: $yellow;
        width: 50%;
        font-size: 3.5rem;
        line-height: 65px;
        @include laptop{
            font-size: 3.3rem;
            line-height: 50px;
        }

        @include mini{
            font-size: 2.8rem;
            width: 60%;

        }
        @include tablet{
            font-size: 2.5rem;
            line-height: 40px;
        }
        @include phone{
            text-align: center;
            width: 100%;
            font-size: 2rem;
            margin-bottom: 10px;
        }
        @include fold{
            font-size: 1.5rem;
            width: 100%;
            line-height: 30px;
            text-align: center;
        }
    }
    & p{
        color: rgb(231, 231, 231);
        width: 40%;
        @include tablet{
            width: 70%;
        }
        @include phone{
            text-align: center;
            width: 90%;
            font-size: .8rem;
            margin: 0 auto;
        }
        @include fold{
            font-size: .8rem;
            width: 100%;
            text-align: center;
        }
    }
    & .buttons{
        margin-top: 40px;
        @include phone{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 10px;
            margin: 0 auto;
            width: 100%;
        }
        & a{
            text-decoration: none;
            transition: all .3s ease;
            margin: 10px auto;
            @include phone{
                font-size: .8rem;
            }
        }
        & a:nth-child(1){
            padding: 1rem 2rem;
            color: $blue;
            background-color: $white;
            border-radius: 30px;
            margin-right: 10px;
            @include phone{
                padding: 1rem 1.5rem;
            }   
            @include fold{
                padding: 1rem 1rem;
                margin-right: 0;
            }
            &:hover{
                color: $blue;
                background-color: $yellow;
            }
        }
        & a:nth-child(2){
            padding: 1rem 2.5rem;
            color: $white;
            background-color: transparent;
            border-radius: 30px;
            border: 1px solid $white;
            transition: all .3s ease;
            @include phone{
                padding: 1rem 2rem;
            }
            @include fold{
                padding: 1rem 1.5rem;
            }
            &:hover{
                color: $blue;
                background-color: $yellow;
                border: none;
            }
        }
    }
}
.experience-container{
    display: flex;
    background: linear-gradient(to left top, rgba(white,1),rgba($blue,.1));
    padding: 20px;
    width: 230px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    @include fold{
        bottom: 1%;
        right: 15%;
    }
    & h1{
        width: 110px;
        color: $yellow;
        @include tablet{
            font-size: 3.5rem;
            transform: translateY(5px);
        }
    }
    & .experience{
        display: flex;
    }
    & p{
        transform: translateY(10px);
        color: $blue;
        text-transform: uppercase;
        font-weight: bold;
        @include tablet{
            transform: translateY(0px);
        }
    }
}
.burger{
    @include tablet{
        cursor: pointer;
        margin-right: 50px;
        & div{
            width: 25px;
            height: 3px;
            margin: 5px;
            background-color: $white;
            transition: transform .3s ease;
        }
    }
}
.nav-active{
    transform: translateX(0);
}
.toggle .line1{
    transform: rotate(45deg) translate(5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(5px,-6px);
}