.background {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#060448), color-stop(rgba(6, 4, 72, 0.7)), color-stop(rgba(6, 4, 72, 0.8)), color-stop(rgba(6, 4, 72, 0.9)), color-stop(rgba(6, 4, 72, 0.98)), to(#060448)), url("./pexels-kelly-lacy-2898199.jpg");
  background: linear-gradient(to left, #060448, rgba(6, 4, 72, 0.7), rgba(6, 4, 72, 0.8), rgba(6, 4, 72, 0.9), rgba(6, 4, 72, 0.98), #060448), url("./pexels-kelly-lacy-2898199.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 8vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.nav-logo img {
  width: 100px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
}

@media screen and (max-width: 768px) {
  .nav-logo img {
    width: 50px;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  list-style: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    width: 100vw;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 8vh;
    right: 0px;
    background-color: #060448;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 100;
  }
}

.nav-links li {
  margin: 0 40px;
}

@media screen and (max-width: 768px) {
  .nav-links li {
    margin-bottom: 20px;
  }
}

.nav-links li a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #F8EBFF;
}

@media screen and (max-width: 768px) {
  .nav-links li a {
    font-size: 1.2rem;
  }
}

.first-logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .first-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .second-logo {
    display: none;
  }
}

.header-container {
  width: 90vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .header-container {
    padding-top: 10%;
  }
}

@media screen and (max-width: 970px) {
  .header-container {
    padding-top: 15%;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    padding-top: 5%;
  }
}

@media screen and (max-width: 320px) {
  .header-container {
    padding-top: 1rem;
  }
}

.header-container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #F8EBFF;
}

@media screen and (max-width: 1280px) {
  .header-container h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .header-container h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .header-container h2 {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-container h2 {
    font-size: 1.3rem;
    text-align: center;
  }
}

.header-container h1 {
  text-transform: uppercase;
  color: #fcf700;
  width: 50%;
  font-size: 3.5rem;
  line-height: 65px;
}

@media screen and (max-width: 1280px) {
  .header-container h1 {
    font-size: 3.3rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 970px) {
  .header-container h1 {
    font-size: 2.8rem;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .header-container h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .header-container h1 {
    text-align: center;
    width: 100%;
    font-size: 2.3rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .header-container h1 {
    font-size: 2rem;
    width: 100%;
    line-height: 40px;
    text-align: center;
  }
}

.header-container p {
  color: #e7e7e7;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .header-container p {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .header-container p {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header-container p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}

.header-container .buttons {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .header-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
}

.header-container .buttons a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 10px 0;
}

.header-container .buttons a:nth-child(1) {
  padding: 1rem 2rem;
  color: #060448;
  background-color: #F8EBFF;
  border-radius: 30px;
  margin-right: 10px;
}

.header-container .buttons a:nth-child(1):hover {
  color: #060448;
  background-color: #fcf700;
}

.header-container .buttons a:nth-child(2) {
  padding: 1rem 2.5rem;
  color: #F8EBFF;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #F8EBFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-container .buttons a:nth-child(2):hover {
  color: #060448;
  background-color: #fcf700;
}

.experience-container {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ebff), to(rgba(248, 235, 255, 0.9)));
  background: linear-gradient(#f8ebff, rgba(248, 235, 255, 0.9));
  -webkit-box-shadow: 10px 10px 300px black;
          box-shadow: 10px 10px 300px black;
  padding: 20px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

@media screen and (max-width: 970px) {
  .experience {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

@media screen and (max-width: 768px) {
  .experience {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .experience {
    -webkit-transform: translate(-40px, -30px);
            transform: translate(-40px, -30px);
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .experience {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.experience h1 {
  font-size: 5rem;
  color: #060448;
}

@media screen and (max-width: 768px) {
  .experience h1 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 600px) {
  .experience h1 {
    font-size: 3rem;
  }
}

.experience p {
  color: #060448;
  -webkit-transform: translate(45px, 10px);
          transform: translate(45px, 10px);
}

@media screen and (max-width: 970px) {
  .experience p {
    -webkit-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
}

@media screen and (max-width: 768px) {
  .experience p {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 600px) {
  .experience p {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 320px) {
  .experience p {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    cursor: pointer;
    margin-right: 50px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #F8EBFF;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

#third {
  background: #F8EBFF;
}

.third-container {
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .third-container {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
  }
}

.third-container .image-container {
  height: 400px;
  background-image: url("./workers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .third-container .image-container {
    height: 350px;
  }
}

.third-container .text-container {
  width: 80%;
  margin: auto;
  color: #060448;
}

@media screen and (max-width: 600px) {
  .third-container .text-container {
    width: 95%;
  }
}

.third-container .text-container h1 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .third-container .text-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .third-container .text-container p {
    font-size: 0.8rem;
  }
}

.third-container .text-container p span {
  font-weight: 500;
}

.third-container .text-container .read-more-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.third-container .text-container .read-more-container a {
  color: #060448;
}

.third-container .text-container .read-more-container a img {
  color: #060448;
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.third-container .text-container .read-more-container a:hover img {
  -webkit-transform: translate(15px, 5px);
          transform: translate(15px, 5px);
}

#first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 70%;
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon img {
  width: 50px;
}

.icon h1 {
  color: #060448;
  font-size: 1rem;
  font-weight: 500;
}

.icon p {
  color: #060448;
  font-size: 0.8rem;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 222222222222222222222222 */
#second {
  background-color: #060448;
  color: #F8EBFF;
}

.second-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
}

@media screen and (max-width: 600px) {
  .second-container {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services-container h1 {
  font-size: 2.5rem;
  line-height: 40px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .services-container h1 {
    font-size: 1.8rem;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .services-container p {
    padding-bottom: 30px;
  }
}

.carousel {
  background-color: gray;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-track-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  top: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: -webkit-transform .250s ease;
  transition: -webkit-transform .250s ease;
  transition: transform .250s ease;
  transition: transform .250s ease, -webkit-transform .250s ease;
}

.carousel-track li {
  position: absolute;
  list-style: none;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel-track li a {
  z-index: 1000;
  display: inline-block;
  text-decoration: none;
  background-color: #060448;
  color: #F8EBFF;
  padding: 1rem 2rem;
  border-radius: 30px;
  -webkit-transform: translate(50px, 350px);
          transform: translate(50px, 350px);
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

@media screen and (max-width: 600px) {
  .carousel-track li a {
    -webkit-transform: translate(30px, 350px);
            transform: translate(30px, 350px);
  }
}

@media screen and (max-width: 320px) {
  .carousel-track li a {
    font-size: 0.9rem;
    -webkit-transform: translate(20px, 350px);
            transform: translate(20px, 350px);
    padding: 0.8rem 0.8rem;
  }
}

.carousel-track li a:hover {
  background-color: #fcf700;
  color: #060448;
}

#second .carousel li:nth-child(1) {
  background-image: url("./slide1.jpg");
}

#second .carousel li:nth-child(2) {
  background-image: url("./slide2.jpg");
}

#second .carousel li:nth-child(3) {
  background-image: url("./slide3.jpg");
}

#second .carousel li:nth-child(4) {
  background-image: url("./slide4.jpg");
}

#second .carousel li:nth-child(5) {
  background-image: url("./slide5.jpg");
}

.carousel-indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: gray;
  z-index: 1000;
  cursor: pointer;
  top: 425px;
  border: none;
  border-radius: 100%;
  outline: none;
}

.carousel-indicator:nth-child(1) {
  margin: 40px -150px;
}

@media screen and (max-width: 768px) {
  .carousel-indicator:nth-child(1) {
    margin: 40px -250px;
  }
}

.carousel-indicator:nth-child(2) {
  margin: 40px -125px;
}

@media screen and (max-width: 768px) {
  .carousel-indicator:nth-child(2) {
    margin: 40px -225px;
  }
}

.carousel-indicator:nth-child(3) {
  margin: 40px -100px;
}

@media screen and (max-width: 768px) {
  .carousel-indicator:nth-child(3) {
    margin: 40px -200px;
  }
}

.carousel-indicator:nth-child(4) {
  margin: 40px -75px;
}

@media screen and (max-width: 768px) {
  .carousel-indicator:nth-child(4) {
    margin: 40px -175px;
  }
}

.carousel-indicator:nth-child(5) {
  margin: 40px -50px;
}

@media screen and (max-width: 768px) {
  .carousel-indicator:nth-child(5) {
    margin: 40px -150px;
  }
}

.current-slide {
  background-color: #060448;
}

.is-hidden {
  display: none;
}

.services-container ul {
  margin-top: 20px;
  margin-left: 20px;
}

.services-container ul li {
  color: #fcf700;
  font-size: 1.2rem;
}

.services-container ul li span a {
  color: #F8EBFF;
  text-decoration: none;
}

footer {
  background-color: #060448;
}

.footer-container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 970px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-container .footer-links {
  list-style: none;
  text-align: center;
  padding: 20px 0;
}

.footer-container .footer-links a {
  text-decoration: none;
  color: rgba(248, 235, 255, 0.8);
}

.footer-container .footer-links a:hover {
  color: #F8EBFF;
}

.footer-container .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F8EBFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-container .footer-contact .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0;
}

.footer-container .footer-contact .items i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  margin-right: 5px;
}

.footer-container .footer-social {
  color: #F8EBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .footer-social i {
  color: #F8EBFF;
  font-size: 4rem;
  opacity: 0.7;
}

.footer-container .footer-social i:hover {
  opacity: 1;
}

.copyright {
  color: #F8EBFF;
  background-color: #00007e;
  text-align: center;
  padding: 5px 0;
}

.about-nav {
  background: #060448;
}

.second-logo {
  background: #060448;
  padding-bottom: 5px;
}

.index-logo {
  background: transparent;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .image-container {
  height: 500px;
  width: 100vw;
  background-image: url("./workers.jpg");
  background-size: cover;
  background-position: 50% 15%;
  background-repeat: no-repeat;
}

#about .text-container {
  width: 70%;
  margin: auto;
  padding: 50px 0;
  color: #060448;
}

@media screen and (max-width: 600px) {
  #about .text-container {
    width: 80%;
    text-align: left;
  }
}

#about .text-container h1 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  #about .text-container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #about .text-container p {
    font-size: 0.8rem;
  }
}

#about .text-container p span {
  font-weight: 500;
}

#about .text-container a {
  text-decoration: none;
  color: #060448;
}

#about .text-container .bold-service {
  font-weight: 600;
}

#contact {
  background-color: #F8EBFF;
}

.contact-container {
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 70%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .contact-container {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 90%;
  }
}

.contact-container .text-container {
  color: #060448;
}

.contact-container .text-container h1 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .contact-container .text-container h1 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .contact-container .text-container h1 {
    line-height: 40px;
  }
}

.contact-container .text-container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .contact-container .text-container .items {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .contact-container .text-container .items {
    font-size: 1rem;
    text-align: left;
  }
}

.contact-container .text-container .items i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  margin-right: 8px;
}

.contact-container .text-container .pib-mb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .text-container .pib-mb p span {
  font-weight: 600;
}

#contact-form {
  background-color: #060448;
  color: #F8EBFF;
}

#contact-form h1 {
  font-size: 2.5rem;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  #contact-form h1 {
    width: 80%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #contact-form h1 {
    width: 90%;
    font-size: 1.5rem;
    padding: 20px 0;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #fcf700;
  padding-bottom: 30px;
}

form label {
  padding-bottom: 5px;
}

form label:hover {
  cursor: pointer;
}

form input, form textarea {
  width: 300px;
  outline: none;
  border: none;
  padding: 10px;
}

form input {
  height: 40px;
}

form input[type=submit] {
  cursor: pointer;
  background-color: #fcf700;
  color: #060448;
  border: none;
}

.service-container {
  padding-top: 5rem;
  width: 100%;
  background-color: #F8EBFF;
  color: #060448;
}

@media screen and (max-width: 320px) {
  .service-content h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .service-content h1 {
    font-size: 1.5rem;
  }
}

.service-content {
  width: 70%;
  margin: auto;
  text-align: left;
  padding-bottom: 5rem;
}

.service-content p {
  font-size: 14px;
}

.service-content h2 {
  margin: 3rem 0;
}

.service-content ul {
  /* bullet */
}

.service-content ul li {
  color: #fcf700;
  font-size: 20px;
}

.service-content ul span {
  color: #060448;
}

.service-content ul li ul {
  margin-left: 20px;
}

/*LIGHTBOX SECTION*/
/* Here you provide a best practice's "reset", read more about it at the bottom! :) */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

/* You define the style of our previews here, you are using flex to display the images 
     "responsively". */
.preview {
  width: 100%;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.row > .col {
  padding: 10px 8px 45px 8px;
}

.col {
  float: left;
  width: 100%;
}

@media screen and (max-width: 970px) {
  .col {
    width: 100%;
  }
}

/* Now you want to define what the lightbox will look like. Note that you have the display
     as none. You don't want it to show until the user clicks on one of the previews. 
     You will change this display property with JavaScript below. */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px 62px 0px 62px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  text-align: center;
}

@media screen and (max-width: 970px) {
  .modal {
    padding: 100px 20px 0px;
  }
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 60%;
}

@media screen and (max-width: 970px) {
  .modal-content {
    width: 90%;
    margin: auto;
  }
}

/* Same with your slides, you set the display to none, because you want to choose which 
     one is shown at a time. */
.slide {
  display: none;
}

.image-slide {
  width: 100%;
}

.modal-preview {
  width: 100%;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* You want the previews a little transparent to show that they are "inactive". 
     You then add an .active or :hover class to animate the selections for your user when
     they interact with your controls and clickable content.
   */
img.preview, img.modal-preview {
  opacity: 0.9;
  cursor: pointer;
}

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previouss,
.nextt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 600px) {
  .previouss,
  .nextt {
    padding: 12px;
  }
}

@media screen and (max-width: 320px) {
  .previouss,
  .nextt {
    padding: 8px;
  }
}

.nextt {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.previouss {
  left: 5%;
}

.previouss:hover,
.nextt:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.service-content p {
  margin-top: 1rem;
}

.service-content li span {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 970px) {
  .service-content li span {
    font-size: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */